.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn:focus-visible {
  outline: #55c57a solid 2px;
}
.btnGreen {
  background-color: #55c57a;
  color: #fff;
}

.btnGreen:after {
  background-color: #55c57a;
}

.btnSmall {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btnSmall,
.btnSmall:link,
.btnSmall:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btnSmall:hover {
  background-color: #7dd56f;
}
.spanAllRows {
  grid-row: 1 / -1;
}

.right {
  text-align: right !important;
}
